
body {
    background-color: #8dd6f7;
    margin: 2;
    padding: 20px;
}

h1 {
    color: #b31705;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}

h2 {
    color:#7c9aa8;
}

ul {
  border: 1px solid black;
  padding: 0.2em;
  font-family: 'Times New Roman', Times, serif;
}

div {
    width: 300px;
    height: 150px;
    border: 0px;
    font-size: large;
    background-color: #000000;
    margin: 20px auto;
    padding: 15px;
}
